﻿body {
    background: #B7CEE8 url(../images/bg_logon.png) top center no-repeat !important;
}

#login {
    margin-top: 210px !important;
}

#login input[type="submit"], #login input[type="button"] {
    background: #000000 !important;
}

#login input[type="submit"]:hover, #login input[type="button"]:hover {
    color: #cc0d35 !important;
}

#footer {
    display: none !important;
}

#login a[id$="signupLink"], #login a[id$="signupLinkDev"] {
    background: #000000 !important;
    color: #6d6e70 !important;
}

#login a[id$="signupLink"]:hover, #login a[id$="signupLinkDev"]:hover {
    color: #000000 !important;
}

a {
    color: #000000 !important;
}

#login a[id$="signupLink"],
#login a[id$="signupLinkDev"] {
    display:block;
    /*display:none;*/
}