﻿#siteLogo a img {
    display: none;
}

#siteLogo a {
    background: transparent url(../images/logo_horiz.png) no-repeat top left !important;
    display: block;
    width: 174px;
    height: 40px;
    margin-bottom: 4px;
}

.section {
    border-radius: 0 !important;
    box-shadow: none !important;
}

#siteHeading {
    background: #FFFFFF !important;
}


#siteSubNav span a:active {
    color: #cc0d35 !important;    
}

#siteSubNav a,
#siteUserInfo p span,
#siteMenu li a,
#siteHeading #siteSubNav span a:visited,
#siteHeading #siteSubNav span a {
    color: #000000 !important;    
}

a.siteMenuActive,
#siteMenu li a:hover {
    color: #cc0d35 !important;
    background-color: #ECECEC;
}

#siteMenu li a:visited {
    background-color: #f0f0f0;
}

/* Remove the link to the new UX */
/*
.newUiBox {
    display: none;
}
*/